.contactsWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid var(--tg-theme-hint-color);
    padding-bottom: 10px;
}

.label {
    color: var(--tg-theme-hint-color);
}
