.wrapper {
    display: flex;
    gap: 20px;
}

.primaryButton {
 background-color: var(--tg-theme-button-color)
}

.primaryButton:disabled {
    color: var(--tg-theme-hint-color);
    background-color: var(--tg-theme-secondary-bg-color).
}