

.amountWrapper {
	display: flex;
	justify-content: center;
}
.amountMain {
	color: var(--tg-theme-text-color);
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 50px;
}

.amountPortion {
	color: var(--tg-theme-text-color);
	font-size: 34px;
	font-style: normal;
	font-weight: 700;
	line-height: 50px;

	&Last {
		margin-left: 10px;
	}
}

.plusButton {
	height: 22px;
	width: 22px;
	padding: 0;
	margin-left: 10px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
