.addressWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addressItem {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid var(--tg-theme-hint-color);
    padding-bottom: 10px;
}

.addressItemHeader {
    font-weight: bold;
}